* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Poppins", sans-serif;
}

:root {
  --bg:#0f1113;
  --card:#272C35;
  --muted:#99a0a6;
  --accent:#00e676;
  --white:#ffffff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background:linear-gradient(#1C2126, #121416 35%);
  color: #fff;
}

a {
    text-decoration: none;   /* remove sublinhado */
    color: inherit;      
}

.container {
  width: 100%;
  max-width: 420px;
  text-align: center;
  padding: 18px;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

header h2 {
  font-size: 20px;
  font-weight: 600;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.profile-photo {
  z-index: 1;
  position: relative;
  width: 105px;
  height: 105px;
  overflow: hidden;
  cursor: pointer;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.photo-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #33FF55;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0b0b0b;
}

.photo-icon img {
  width: 16px;
  height: 16px;
}

.lapis {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

.lapis h3 {
  font-size: 17px;
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.option-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--card);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
  width: 100%;
}

.logout-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color:var(--white);
  font-size: 16px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #1c1c1c;
  border-radius: 14px;
  padding: 25px;
  width: 320px;
  text-align: center;
  position: relative;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.green {
  background-color: #33FF55;
  color: #000;
}

.gray {
  background-color: #333;
  color: #fff;
}

.close {
  justify-content: right;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #2a2a2a;
  border: none;
  color: #fff;
}
