* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Poppins", sans-serif;
}

body {
  background: #0f1113;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  color: white;
  flex-direction: column;
}

.cinza{
  background-color: #2A3137;
  width: 100%;
  max-width: 430px;
}

.container {
  width: 100%;
  max-width: 430px;
  padding: 18px;
  background: linear-gradient(#1C2126, #121416 30%);
}

/* TOPO */
.topo h1 {
  margin-top: 10px;
  margin-left: 18px;
  font-size: 20px;
  font-weight: bold;
}

/* FOTO */
.foto-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.foto-area {
  margin-left:140px ;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background: #131518;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FEFEFE;
}

.foto-area img {
  margin-top: 10px;
  object-fit: cover;
  border-radius: 18px;
}

.btn-add-foto {
  width: 65px;
  height: 80px;
  border-radius: 20%;
  background: #131518;
  border: 1px solid #FEFEFE;
  font-size: 40px;
  color: #aaa;
}



/* PESO */
.peso {
  margin-top: 15px;
  font-size: 32px;
  color: #00e676;
  text-align: center;
}

.data {
  margin-bottom: 10px;
  text-align: center;
  color: #bbb;
  margin-top: 10px;
}

/* TABS */
.tabs {   
  margin-left: 70px;      
  width: 250px;
  background: #16181b;
  padding: 5px;
  border-radius: 15px;
  display: flex;
}

.tab-btn {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 12px;
  
}

.tab-btn.ativo {
  background: #00e676;
  color: #000;
  font-weight: bold;
}

/* BOX */
.box1 {
  height: 100px;
  justify-content: space-around;
  display: flex;
  background: transparent;
  border: 1px solid #FEFEFE;
  padding: 15px;
  border-radius: 17px;
  margin-top: 15px;
  font-weight: bold;
}

.box {
  background: #16181b;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 17px;
  margin-top: 15px;
  border: 1px solid #FEFEFE;
}

.horizontal{
    display: flex;
}
/* estou usando aqui*/
.vertical {
   display: flex;
   flex-direction: column;
   justify-content: space-around; /* funciona agora */
   height: 100%; /* opcional, mas ajuda no espaçamento */
}

.ponto {
  margin-right: 3px;
  margin-top: 4px;
  height: 10px;
  width: 10px;

}
.Diagnostico{ 
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}
.pesoatual{
    color: #33FF55;
}
.metaatual{
    color: #0077FF;
}
.diferencaatual{
    color: #ff4d4d;
}


.linha,
.medida {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2b2d30;
}

.titulo-sec {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.verde { color: #00e676; }
.azul { color: #4da3ff; }
.vermelho { color: #ff4d4d; }

/* HISTÓRICO */
.data-hist {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 15px;
}

.btn-add {
  position: fixed;
  width: 175px;
  padding: 15px;
  background: #00e676;
  border: none;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  bottom: 80px;
  left: 50%;
}

/* NAV BAR */
.nav {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 60px;
  max-width: 430px;
  
  background: #33FF55;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;

  border-radius: 30px;
  border: 1px solid #1f1f1f;
}

.nav-btn {
  font-size: 28px;
  background: none;
  border: none;
  color: #777;
}

.nav-btn.ativo {
  color: #00e676;
}

/* esconder */
.hidden {
    display: none;
}

/* linha do card Peso e Diagnóstico */
.linha {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.linha:last-child {
  border-bottom: none;
}

/* bolinha dos títulos */
.linha span:first-child::before,
.medida span:first-child::before {
  content: "• ";
  font-size: 18px;
  color: #00ff73;
}

/* cores das linhas */
.verde { color: #00ff73; font-weight: 600; }
.azul { color: #4da3ff; font-weight: 600; }
.vermelho { color: #ff4d4d; font-weight: 600; }
.branco { color: #fff; font-weight: 600; }

/* título “Diagnóstico” e “Histórico” */
.titulo-sec {
  margin-top: 22px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

/* MEDIDAS */
.medida {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.medida:last-child {
  border-bottom: none;
}

/* Card de histórico */
.data-hist {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px;
  border-radius: 15px;

  border: 1px solid #FEFEFE;
  background: rgba(255,255,255,0.03);

  font-size: 14px;
}

.lixeira {
  background: none;
  border: none;
  font-size: 18px;
  color: #ccc;
}

/* Botão adicionar */
.btn-add {


  background: #33ff55;
  color: #000;
  font-weight: 700;
  border: none;
  border-radius: 35px;
  margin-top: 18px;
  font-size: 18px;
}

