/*Aqui vai ficar todos os arquivos de CSS em comum em todas as páginas*/
.secundary-button { /*Vai pro global*/
    padding: 0.719rem 1.656rem;
    border: 1px solid var(--primary-green);
    border-radius: 9px;
    text-decoration: none;
    font-weight: 500;
}
.primary-button {
    background-color: var(--primary-green);
    padding: 0.938rem 2.125rem;
    color: var(--primary-dark-bg);
    border-radius: 9px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-out;
}
.primary-button:hover {
    box-shadow: 0 0 23.1px -2px var(--focus-button);
}
h1 {
    color: aliceblue;
}