* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Poppins", sans-serif;
}

:root {
  --bg:#0f1113;
  --card:#272C35;
  --muted:#99a0a6;
  --accent:#00e676;
  --white:#ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: black;
  color: #fff;
}

.cont {
  max-width: 425px;
  width: 100%;
  background: linear-gradient(#1C2126, #121416 35%);
  min-height: 100vh;
}

/* TOPO */
.topo {
  background: #1C2126;
  padding: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.back-icon {
  width: 25px;
}
.menu-icon {
   width: 4px;
   height: 16px;
}

.titulo {
  font-size: 22px;
  font-weight: 700;
}

/* CONTAINER */
.container {
  padding: 18px;
}

.section-title {
  font-size: 16px;
  color: var(--muted);
  margin-bottom: 12px;
}

/* EMPTY STATE */
.empty-state {
  text-align: center;
  margin-top: 40px;
}
.empty-icon {
  width: 30px;
  opacity: .7;
}
.empty-state h3 {
  margin-top: 10px;
  font-size: 18px;
}
.empty-state p {
  color: var(--muted);
  font-size: 14px;
  margin: 4px 0 10px;
}
.add-empty {
  color: var(--accent);
  font-size: 15px;
  cursor: pointer;
}

/* CARD TREINO */
.treino-card {
  background: var(--card);
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 15px;
}

.card-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-info {
  font-size: 13px;
  color: var(--muted);
  margin-top: 5px;
}

/* BOTÃO FIXO */
.add-button {
  width: 126px;
  position: fixed;
  bottom: 25px;
  left: 80%;
  transform: translateX(-50%);
  background: var(--accent);
  padding: 14px 26px;
  color: #000;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
}

/* POPUP ADD */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b0;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: var(--card);
  padding: 20px;
  width: 85%;
  border-radius: 14px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-header h3 {
  font-size: 18px;
}
.close-popup {
  cursor: pointer;
  font-size: 20px;
}

.popup input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #1b1f24;
  border: none;
  color: white;
  margin: 10px 0 15px;
}

.botton span {
  margin-left: 8px;
}

.dias-box {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 6px;
  align-items: center;
}
.dias-box span {
  font-size: 13px;
  color: var(--muted);
}

.btn-salvar {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: var(--accent);
  font-weight: 700;
  color: black;
}

/* POPUP MENU */
.popup-menu {
  display: none;
  position: absolute;
  background: var(--card);
  padding: 10px 0;
  border-radius: 10px;
  width: 130px;
  box-shadow: 0 0 10px #000;
}
.popup-menu p {
  padding: 10px 15px;
  cursor: pointer;
}
.popup-menu p:hover {
  background: #333a45;
}
.popup-menu .danger {
  color: #ff5a5a;
}
