{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "dashboard/css/dashboard.css" %}"/> <!--Mudar o caminho-->
    <link rel="stylesheet" href="{% static "global/css/globais.css" %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>FitBooster | Alunos</title>
</head>



<!-- MODAL RELATÓRIO DO ALUNO -->

<div class="modal-overlay" id="reportModal">
    <div class="modal-card">
        <button class="modal-close" id="closeModal">&times;</button>

        <h2 class="modal-title">Relatório do Aluno</h2>
        <p class="modal-subtitle" id="modalStudentName"></p>

        <div class="modal-grid">
        <div class="modal-item"><span>Peso Atual</span><strong>82 kg</strong></div>
        <div class="modal-item"><span>Meta</span><strong>Hipertrofia</strong></div>

        <div class="modal-item"><span>Ombro</span><strong>110 cm</strong></div>
        <div class="modal-item"><span>Peito</span><strong>102 cm</strong></div>

        <div class="modal-item"><span>Antebraço (E)</span><strong>30 cm</strong></div>
        <div class="modal-item"><span>Antebraço (D)</span><strong>31 cm</strong></div>

        <div class="modal-item"><span>Braço (E)</span><strong>38 cm</strong></div>
        <div class="modal-item"><span>Braço (D)</span><strong>39 cm</strong></div>

        <div class="modal-item"><span>Cintura</span><strong>84 cm</strong></div>
        <div class="modal-item"><span>Quadril</span><strong>96 cm</strong></div>

        <div class="modal-item"><span>Pernas (E)</span><strong>62 cm</strong></div>
        <div class="modal-item"><span>Pernas (D)</span><strong>63 cm</strong></div>

        <div class="modal-item"><span>Panturrilha (E)</span><strong>40 cm</strong></div>
        <div class="modal-item"><span>Panturrilha (D)</span><strong>41 cm</strong></div>
        </div>
        <div class="modal-footer">
            <button class="btn-disconnect" id="openDisconnectModal">
                Desconectar aluno
            </button>
        </div>
    </div>

    </div>
    <div class="modal-overlay" id="disconnectModal">
    <div class="modal-card small">
        <button class="modal-close" id="closeDisconnectModal">&times;</button>

        <h3 class="modal-title">Confirmar ação</h3>
        <p class="modal-subtitle">
        Você tem certeza que quer desconectar o aluno?
        </p>

        <div class="confirm-actions">
        <button class="btn-cancel" id="cancelDisconnect">Cancelar</button>
        <button class="btn-confirm" id="confirmDisconnect">Confirmar</button>
        </div>
    </div>
</div>
<body>
    <div class="container">
        <header>
            {% include "home/partials/dashboard/header.html" %}
        </header>

        <div class="cards">
            {% include "home/partials/dashboard/mainCards.html" %}
        </div>
        <div class="navegacao" aria-label="Navegação do dashboard">
            {% include "home/partials/dashboard/menuNavegacao.html" %}
        </div>
        
        <div class="main-grid">
            <main>
                <section class="main-section">
                    {% include "home/partials/dashboard/mainSectionHeader.html" %}
    
                    <div class="student-list">
                        {% include "home/partials/dashboard/studentCard.html" %}
                    </div>
                </section>
            </main>
    
            <aside>
                {% include "home/partials/dashboard/sidebar.html" %}
            </aside>
        </div>
    </div>

    <script src="{% static "dashboard/js/script.js" %}"></script>
    

    {% include "home/partials/dashboard/modal-criar-plano.html" %}
    {% include "home/partials/dashboard/modal-training-manager.html" %}




        <!-- jQuery (obrigatório) -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap Select JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>





</body>
</html>