:root {
  --bg: #0f1113;
  --card: #2a2f38;
  --accent: #00e676;
  --white: #fff;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: linear-gradient(#1C2126, #121416 35%);
  color: var(--white);
  height: 100vh;
}

.container {
  max-width: 384px;
  margin: auto;
  padding: 18px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

header h2{
 margin: 0px;
 font-size: 20px;
}


.back-btn img {
  width: 25px;
  height: 25px;
}

/* Lista */
.trainer-card {
  background: #272C35;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delete-btn {
  background: none;
  border: none;
  color: #ff4d4d;
  font-size: 18px;
  cursor: pointer;
}

/* Botão adicionar */
.add-btn {
  width: 100%;
  margin-top: 20px;
  background: var(--accent);
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup */
.popup {
  background: var(--card);
  width: 85%;
  max-width: 320px;
  padding: 20px;
  border-radius: 14px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.popup h3 {
  margin: 0 0 15px;
}

.popup input {
  width: 296px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1c2026;
  color: white;
  margin-bottom: 15px;
}

.popup input::placeholder {
  color: #9ca3af;
}

.confirm-btn {
  width: 100%;
  padding: 12px;
  background: var(--accent);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Botão fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.empty-message {
  text-align: center;
  color: #9ca3af;
  margin: 40px 10px;
  font-size: 14px;
}

.delete-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cancel-btn {
  flex: 1;
  padding: 12px;
  background: #33FF55;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.delete-confirm {
  flex: 1;
  background: #ff4d4d;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-card {
  background: #1c2026;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card button {
  background: var(--accent);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
}
