{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Exercício</title>
  <link rel="stylesheet" href="{% static 'core/clicartreino/css/clicarstyle.css' %}">
</head>

<body>
<div class="cont">

    <!-- TOPO -->
    <div class="topo">
        <header>
            <img src="{% static 'core/img/seta-esquerda 1.png' %}" class="back-icon" onclick="history.back()">
            <h2 class="titulo-topo">1 - Supino reto</h2>
        </header>
    </div>

    <div class="container">

        <!-- THUMB -->
        <div class="preview"></div>

        <!-- CARD DE DETALHES -->
        <div class="card-detalhes">

            <h3 class="titulo-detalhes">Detalhes do Exercício</h3>

            <div class="linha-det">
                <span class="label">séries</span>
                <span class="valor">4</span>
            </div>

            <div class="linha-det">
                <span class="label">repetições</span>
                <span class="valor">12–15</span>
            </div>

            <div class="linha-det">
                <span class="label">descanso</span>
                <span class="valor">90s</span>
            </div>

        </div>

    </div>

</div>
</body>
</html>
