{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpo</title>
    <link rel="stylesheet" href="{% static 'core/corpo/css/stylecorpo.css' %}">
</head>
<body>
<div class="cinza">
    <header class="topo">
        <h1>Corpo</h1>
    </header>

    <!-- FOTO -->
    <div class="foto-wrapper">
        <div class="foto-area">
            <img src="{% static 'core/img/corpo.png' %}" id="fotoPerfil">
        </div>
        <button class="btn-add-foto">+</button>
    </div>

    <!-- PESO E DATA -->
    <h2 class="peso">75,5 kg</h2>
    <p class="data">2 de Outubro de 2025</p>
</div>

<div class="container">

    <!-- TABS -->
    <div class="tabs">
        <button class="tab-btn ativo" id="tabPeso">Peso</button>
        <button class="tab-btn" id="tabMedidas">Medidas</button>
    </div>

    <!-- PESO -->
    <div id="boxPeso">  
        <div class="box1">
            <div class="vertical">
                <div class="horizontal">
                    <img src="{% static 'core/img/ponto verde.png' %}" alt="" class="ponto"> 
                    <p>Atual</p>
                </div>
                <div class="pesoatual">75,5 kg</div>
            </div>

            <div class="vertical">
                <div class="horizontal">
                    <img src="{% static 'core/img/ponto azul.png' %}" alt="" class="ponto"> 
                    <p>Meta</p>
                </div>
                <div class="metaatual">60,5 kg</div>
            </div>

            <div class="vertical">
                <p>Diferença</p>
                <div class="diferencaatual">-15,0 kg</div>
            </div>  
        </div>

        <p class="Diagnostico"> Diagnóstico</p>

        <div class="box1">
            <div class="vertical">
                <p>IMC</p>
                <div class="pesoatual">00,00</div>
            </div>

            <div class="vertical">
                <p>Gordura</p>
                <div class="metaatual">00,00 %</div>
            </div>

            <div class="vertical">
                <p>Peso ideal</p>
                <div class="diferencaatual">00,00 kg</div>
            </div>  
        </div>

        <!-- HISTÓRICO PESO -->
        <div class="Historico" id="hispeso">
            <p class="Diagnostico"> Histórico</p>
            <div class="data-hist">
                <img src="{% static 'core/img/calendario 1.png' %}" alt="">
                <span>2 de outubro de 2025</span>
                <button class="lixeira"><img src="{% static 'core/img/lixo 1.png' %}" alt=""></button>
            </div>
        </div>
    </div>

    <!-- BOTÃO PESO -->
    <button class="btn-add hidden" id="btnpeso">+ Adicionar</button>

    <!-- MEDIDAS -->
    <div class="box hidden" id="boxMedidas">

        <div class="medida"><span>Ombros</span><span>-- cm</span></div>
        <div class="medida"><span>Peito</span><span>-- cm</span></div>
        <div class="medida"><span>Antebraço (E)</span><span>-- cm</span></div>
        <div class="medida"><span>Antebraço (D)</span><span>-- cm</span></div>
        <div class="medida"><span>Braço (E)</span><span>-- cm</span></div>
        <div class="medida"><span>Braço (D)</span><span>-- cm</span></div>
        <div class="medida"><span>Cintura</span><span>-- cm</span></div>
        <div class="medida"><span>Quadril</span><span>-- cm</span></div>
        <div class="medida"><span>Pernas (E)</span><span>-- cm</span></div>
        <div class="medida"><span>Pernas (D)</span><span>-- cm</span></div>
        <div class="medida"><span>Panturrilha (E)</span><span>-- cm</span></div>
        <div class="medida"><span>Panturrilha (D)</span><span>-- cm</span></div>

    </div>

    <!-- HISTÓRICO MEDIDAS -->
    <div class="Historico hidden" id="hismedida">
        <p class="Diagnostico"> Histórico</p>
        <div class="data-hist">
            <img src="{% static 'core/img/calendario 1.png' %}" alt="">
            <span>2 de outubro de 2025</span>
            <button class="lixeira"><img src="{% static 'core/img/lixo 1.png' %}" alt=""></button>
        </div>
    </div>

    <!-- BOTÃO MEDIDAS -->
    <a href={% url 'reg'%}>  <button class="btn-add hidden" id="btnmedida">+ Adicionar  </button> </a>

</div>

<!-- NAV BAR FIXA -->
<nav class="nav">
    <button class="nav-btn">
      <a href={% url 'home'%}>
        <img src="{% static 'core/img/casa.png' %}" alt="">
      </a>
    </button>
    <button class="nav-btn">
      <a href={% url 'calendario'%}>
        <img src="{% static 'core/img/escala.png' %}" alt="">
      </a>
    </button>
    <button class="nav-btn ativo">
         <a href={% url 'corpo'%}>
        <img src="{% static 'core/img/corpo1.png' %}" alt="">
        </a>
    </button>
</nav>

<script src="{% static 'core/corpo/script/script.js' %}"></script>

</body>
</html>
