{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FitBooster - Home</title>

  <link rel="stylesheet" href="{% static 'core/homemobile/css/stylehome.css' %}">
</head>

<body>
  <div class="container">
    <header>
      <div class="bar">
        <div class="top-bar">
          <div class="greeting">
            <h2>Olá, Exemplo</h2>
            <p>Prepare-se, hoje é dia de treino!</p>
          </div>
          <div class="Addtreinador">
            <a href="{% url 'treinadores' %}" id="openPopup">
              <img src="{% static 'core/img/adicionar-usuario.png' %}" alt="perfil" class="Add-img">
            </a>
          </div>
          <div class="profile">
            <a href={% url 'perfil'%}> <img src="{% static 'core/img/perfil.png' %}" alt="perfil" class="profile-img"> </a>
          </div>
        </div>
      </div>

      <div class="date-bar">
        <a href={% url 'calendario'%}> <div class="month" id="monthLabel"> Out </div> </a> 
        <div class="days" id="daysContainer" aria-label="dias do mês"></div>
      </div>
    </header>

    <main>
      <section class="trainer">
        <h3>Treinador</h3>
        <p class="subtitle">Faça os treinos para cumprir a meta semanal</p>
        <div class="trainer-grid">
          <button class="trainer-btn"> <a href={% url 'treino'%}> Semana 1 </a></button>
          <button class="trainer-btn">Semana 2</button>
          <button class="trainer-btn">Semana 3</button>
          <button class="trainer-btn">Semana 4</button>
        </div>
      </section>

      <section class="more-options">
        <h3>Mais opções</h3>
        <div class="option"><img src="{% static 'core/img/historico.png' %}" alt="">Histórico de treinos</div>
        <div class="option" id="sino" ><img src="{% static 'core/img/sino.png' %}" alt=""><a href={% url 'note'%}>Lembretes e notificações</a></div>
        <div class="option"><img src="{% static 'core/img/avaliar.png' %}" alt="">Avaliar o aplicativo</div>
        <div class="option"><img src="{% static 'core/img/compartilhar.png' %}" alt="">Compartilhar FitBooster</div>
      </section>
    </main>
  </div>

  <nav class="nav">
    <button class="nav-btn">
      <a href={% url 'home'%}>
        <img src="{% static 'core/img/casa.png' %}" alt="">
      </a>
    </button>
    <button class="nav-btn">
      <a href={% url 'calendario'%}>
        <img src="{% static 'core/img/escala.png' %}" alt="">
      </a>
    </button>
    <button class="nav-btn ativo">
      <a href={% url 'corpo'%}>
        <img src="{% static 'core/img/corpo1.png' %}" alt="">
      </a>
    </button>
  </nav>

  <script src="{% static 'core/homemobile/script/script.js' %}"></script>
</body>
</html>
