{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/list/css/style.css' %}">
</head>

<body>
    
    <main class="container">
    <header>
        
        <div class="header-info">
            
            <div id="volta-configura">

                <img id="seta-voltar"
                src="{% static 'core/img/seta-esquerda 1.png' %}" alt="voltar">

                <img id="pontos-config-img" src="{% static 'core/img/tres_pontos.png' %}" alt="opções">

            </div>

            
            
            
        </header>
        <ul class="pesquisa-ul">
            <li  class="pesquisa-li">pesquisar <img class="btn-adicionar" src="{% static 'core/img/lupa 1.png' %}" alt="botão de pesqusiar"></li>
        </ul>
        
    <ul>
      <li>Ombros <img class="btn-adicionar" li>

      <li>Peitoral <img class="btn-adicionar" li>

      <li>Bíceps  <img class="btn-adicionar" li> 

      <li>Abdômen <img class="btn-adicionar" li>

      <li>Obliquos <img class="btn-adicionar" li>

      <li>Antebraços <img class="btn-adicionar" li>

      <li>Abdutores <img class="btn-adicionar" li>

      <li>Adutores <img class="btn-adicionar" li>

      <li>Quadríceps <img class="btn-adicionar" li>

      <li>Cardio <img class="btn-adicionar" li>

      <li>Trapézio <img class="btn-adicionar" li>

      <li>Tríceps <img class="btn-adicionar" li>
      
      <li>Dorsais <img class="btn-adicionar" li>

      <li>Lombar <img class="btn-adicionar" li>

      <li>Glúteos <img class="btn-adicionar" li>

      <li>isquiotibiais <img class="btn-adicionar" li>

      <li>panturrílhas <img class="btn-adicionar" li>

    </ul>

    
  </main>

  <footer>

  </footer>
</body>
</html>
