{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Adicionar Registro</title>

<link rel="stylesheet" href="{% static 'core/reg/css/stylereg.css' %}" />
</head>
<body>
  <div class="sheet"> 
    <div class="container">

      <!-- HEADER -->
      <div class="header">
        <div class="back">
          <a href="{% url 'corpo' %}">
            <img src="{% static 'core/img/seta-esquerda 1.png' %}" alt="">
          </a>
        </div>
        <div class="title">Alterar Registro</div>
      </div>

      <!-- ACCORDION -->
      <div class="accordion">

        <!-- PESO -->
        <div class="acc-row" data-target="peso">
          <h4>Peso</h4>
          <div class="icon">
            <img src="{% static 'core/img/sinal-de-seta-para-baixo-para-navegar.png' %}" alt="">
          </div>
        </div>

        <div class="acc-body" id="body-peso">
          <input class="input measure" placeholder="Peso (Kg)" type="number">
          <input class="input measure" placeholder="Meta (Kg)" type="number">
        </div>

        <!-- MEDIDAS -->
        <div class="acc-row" data-target="medidas">
          <h4>Medidas</h4>
          <div class="icon">
            <img src="{% static 'core/img/sinal-de-seta-para-baixo-para-navegar.png' %}" alt="">
          </div>
        </div>

        <div class="acc-body acc-body-medidas" id="body-medidas">
          <div class="measures-grid">
            <input class="input measure" placeholder="Ombros (cm)" type="number">
            <input class="input measure" placeholder="Peito (cm)" type="number">
            <input class="input measure" placeholder="Antebraço (E)" type="number">
            <input class="input measure" placeholder="Antebraço (D)" type="number">
            <input class="input measure" placeholder="Braço (E)" type="number">
            <input class="input measure" placeholder="Braço (D)" type="number">
            <input class="input measure" placeholder="Cintura (cm)" type="number">
            <input class="input measure" placeholder="Quadril (cm)" type="number">
            <input class="input measure" placeholder="Perna (E)" type="number">
            <input class="input measure" placeholder="Perna (D)" type="number">
            <input class="input measure" placeholder="Panturrilha (E)" type="number">
            <input class="input measure" placeholder="Panturrilha (D)" type="number">
          </div>
        </div>

      </div>

      <!-- BOTÃO SALVAR -->
      <div class="save-wrap">
        <button id="saveBtn" class="save-btn">Salvar</button>
      </div>

    </div>
  </div>

<script src="{% static 'core/reg/script/script.js' %}"></script>
</body>
</html>
