{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seus Treinos</title>
  <link rel="stylesheet" href="{% static 'core/treino/css/treinostyle.css' %}">
</head>

<body>
  <div class="cont">
      <div class="topo">
          <header>
          <a href="javascript:history.back()">
          <img src="{% static 'core/img/seta-esquerda 1.png' %}" class="back-icon" alt="Voltar">
          </a>
          <div class="header-text">
              <p class="ola">Olá, {{ aluno.nome }}</p>
           
          </div>
          <img src="{% static 'core/img/3pontos.png' %}" class="menu-icon" alt="">
          </header>

          <h2 class="titulo">Seus treinos</h2>
          <p class="sub">{{ total_treinos }} Treinos Disponíveis</p>
      </div>
      <div class="container">

        


        {% for treino in treinos %}
        <div class="treino-card">

          <a href="{% url 'detalhe-treino' treino.id %}">
            <h3>{{ treino.nome }}</h3>
          </a>

          <div class="info-line">
            <div class="info-group">
              <img src="{% static 'core/img/calendario 1.png' %}">
              <span>{{ treino.data|date:"d M Y" }}</span>
            </div>

            <div class="info-groupp">
              <img src="{% static 'core/img/halteres 1.png' %}">
              <span>{{ treino.qtd_exercicios }} Exercícios</span>
            </div>
          </div>

        </div>
        {% empty %}
        <p style="text-align:center; opacity:.6;">
          Nenhum treino disponível
        </p>
        {% endfor %}


      </div>
    </div>

</body>
</html>
