{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Treino A</title>
  <link rel="stylesheet" href="{% static 'core/treinoA/css/styleA.css' %}">
</head>

<body>
<div class="cont">

    <div class="topo">
        <header>
            <img src="{% static 'core/img/seta-esquerda 1.png' %}" class="back-icon" onclick="history.back()">
            <div class="header-text">
                <h2 class="titulo-topo">Treino A - Peito e Tríceps</h2>
                <p class="sub-titulo">Segunda, 00 janeiro</p>
            </div>

        </header>
    </div>

    <div class="container">

        <div class="dica">
            <img src="{% static 'core/img/Group 168.png' %}">
            <p>Foque na execução perfeita. Controlando a descida em todos os exercícios.</p>
        </div>

        <h3 class="titulo-sec">Exercícios</h3>

        <!-- CARD 1 -->
        <div class="card-exercicio">
            <a href={% url 'clicar'%}>
            <h4>1 - supino reto</h4>
            </a>
            <div class="linha">
                <p><span>séries</span><br>4</p>
                <p><span>repetições</span><br>8–12</p>
                <p><span>descanso</span><br>90s</p>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="card-exercicio">
            <h4>2 - supino inclinado</h4>
            <div class="linha">
                <p><span>séries</span><br>3</p>
                <p><span>repetições</span><br>10–12</p>
                <p><span>descanso</span><br>60s</p>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="card-exercicio">
            <h4>3 - Crossover</h4>
            <div class="linha">
                <p><span>séries</span><br>3</p>
                <p><span>repetições</span><br>12–15</p>
                <p><span>descanso</span><br>45s</p>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="card-exercicio">
            <h4>4 - Tríceps Pulley</h4>
            <div class="linha">
                <p><span>séries</span><br>3</p>
                <p><span>repetições</span><br>12–15</p>
                <p><span>descanso</span><br>45s</p>
            </div>
        </div>

        <!-- CARD 5 -->
        <div class="card-exercicio">
            <h4>5 - Tríceps Testa</h4>
            <div class="linha">
                <p><span>séries</span><br>3</p>
                <p><span>repetições</span><br>10–12</p>
                <p><span>descanso</span><br>60s</p>
            </div>
        </div>

        <!-- CARD 6 -->
        <div class="card-exercicio">
            <h4>6 - Tríceps Francês</h4>
            <div class="linha">
                <p><span>séries</span><br>3</p>
                <p><span>repetições</span><br>12–15</p>
                <p><span>descanso</span><br>45s</p>
            </div>
        </div>

    </div>

</div>
</body>
</html>
