
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #161d24;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
      font-size: max(20px, min(16px, 4vw));
      min-height: 100vh;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
   
    #volta-configura{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .pesquisa-ul{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    /* List styles */
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     list-style: none;
     max-width: 420px;
    }

   
    .header-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header-info img
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

    }
    /* Container mimics iPhone 15 Pro Max screen width */

    #busca-header{
        width: 380px;
        max-width: 428px;
    }
    
    #cell-infos{
        width: 90%;
        margin-bottom: 10px;
    }



    #pontos-config-img{
        margin-left: 160px;
    }

    #seta-voltar{
        margin-right: 160px;
    }

    .container {
        
        
      max-width: 420px; /* approx width for iPhone 15 Pro Max */
      padding: 0 20px;
    }

    .pesquisa-li{
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: 20px;

    }

    .pesquisa-li img{
        margin-right: 30px;
    }

    li {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      background-color: #242b32;
      border-radius: 30px;
      font-weight: 700;
      font-size: 16px;
      padding: 14px 20px;
      margin-bottom: 15px;
      user-select: none;
      cursor: pointer;
      transform: 3s ease;
      filter: 5s ease;
      transition: background-color 1.9s ease, filter 1.6s ease, transform 1.7s ease;
      
    }

    li:hover {
      background-color: #3a4550;
      filter: brightness(1.37) ;
    }

    li img{
        max-width: 100px;
        max-height: 50px;
    }

    .btn-adicionar{
        
    }

    .btn-adicionar:hover{
         transform: scale(1.05);
         
        filter: brightness(1.);
        color: darkgreen;
    }

    li.active .btn-adicionar{
        display: block;
    }
    /* Optional: better touch areas */
    @media (hover: none) {
      li:hover {
        background-color: #242b32;
      }
    }

