body {
  background: linear-gradient(rgba(28,33,38,0.69), rgba(28,33,38,0.69)),
              url("../images/bgImage.jpg") no-repeat center center/cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.logo {
  width: 33.563rem;
}