{% load static %}
<div class="container-display">
    <div class="content-relatorios">
        <img src="{% static "dashboard/images/graphic.png" %}" alt="Imagem de uma linha de gráfico branca com bolas em cada alto e baixo">  
        <div class="container-text">
            <p>Relatórios Detalhados</p>
            <p>Acompanhe o progresso de todos os seus alunos com gráficos e estatísticas</p>
        </div>
        <a class="primary-button" href="#">Ver Relatórios Completos</a>
    </div>
</div>