{% load static %}

<div class="dashboard-div">
    <h1 class="title">Dashboard do Treinador</h1>
    <p class="subtitle">Gerencie seus alunos e acompanhe o progresso</p>
</div>


<!-- Sino -->
<div class="notificacao">
    <div class="noti" id="btnNotificacao">
        <img src="{% static 'dashboard/images/notificacao.png' %}">
    </div>

    <a href="{% url 'logout' %}" class="primary-buttonn">Sair</a>
</div>

<!-- MODAL -->
<div class="modal-notificacao" id="modalNotificacao">
    <div class="modal-conteudo">

        <div class="modal-header">
            <h3>Pedidos de Conexão</h3>
            <button class="modal-close" id="fecharModal">&times;</button>
        </div>

        {% for pedido in pedidos %}
        <div class="pedido">
            <span>{{ pedido.aluno.nome }}</span>

            <div class="acoes">
                <form method="post" action="{% url 'aceitar_pedido' pedido.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-aceitar">Aceitar</button>
                </form>

                <form method="post" action="{% url 'recusar_pedido' pedido.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-recusar">Recusar</button>
                </form>
            </div>
        </div>
        {% empty %}
        <div class="pedido">
            <span>Não ha pedidos de conexão</span>

            
        </div>
        {% endfor %}

    </div>
</div>