{% load static %}

<div class="card-container">
    <div class="card-icon"><img src="{% static "dashboard/images/icon-people.png" %}" alt="Ícone verde de pessoas"></div>
    <div class="card-value">24</div>
    <div class="card-label">Alunos Ativos</div>
    <div class="card-change">+3 este mês</div>
</div>

<div class="card-container">
    <div class="card-icon"><img src="{% static "dashboard/images/icon-calendar.png" %}" alt="Ícone verde de um calendário"></div>
    <div class="card-value">47</div>
    <div class="card-label">Planos Criados</div>
    <div class="card-change">+5 esta semana</div>
</div>

<div class="card-container">
    <div class="card-icon"><img src="{% static "dashboard/images/icon-arrow-up.png" %}" alt="Ícone verde de uma seta subindo, simulando a subida de um gráfico"></div>
    <div class="card-value">89%</div>
    <div class="card-label">Taxa de Adesão</div>
    <div class="card-change">+2.5</div>
</div>