<div class="modal-overlay" id="trainingManagerModal">
  <div class="modal-card modal-lg">
    <button class="modal-close" id="closeTrainingManager">&times;</button>

    <h3 class="modal-title" id="trainingManagerTitle">Treino</h3>
    <p class="modal-subtitle">Gerencie alunos e configurações do treino</p>

    <!-- ALUNOS DO TREINO -->
    <div class="modal-field">
      <label class="modal-label">Alunos usando este treino</label>

      <div id="trainingStudents" class="student-list">
        <!-- JS injeta -->
      </div>
    </div>

    <div class="modal-field">
    <label class="modal-label">Selecione o aluno</label>
        <select id="selectAluno" class="inputt">
        <option value="">Selecione um aluno</option>
        {% for aluno in treinador.alunos.all %}
        <option 
            value="{{ aluno.id }}"
            data-dias="{{ aluno.dias_disponiveis }}">
            {{ aluno.nome }}
        </option>
        {% endfor %}
        </select>
    </div>


    <!-- DIAS -->
    <div class="modal-field" id="daysSection" style="display:none">
      <label class="modal-label">Dias disponíveis do aluno</label>
      <div class="days-grid" id="daysGrid"></div>
    </div>

    <!-- CONFIG EXERCÍCIO -->
    <div id="exerciseConfig" style="display:none">
      <div class="exercise-inputs">
        <input class="inputt" id="setsInput" placeholder="Séries">
        <input class="inputt" id="repsInput" placeholder="Repetições">
        <input class="inputt" id="restInput" placeholder="Descanso (s)">
      </div>
    </div>

    <!-- AÇÕES -->
    <div class="modal-actions">
      <button class="secondary-button" id="cancelTrainingManager">Cancelar</button>
      <button class="primary-buttonn" id="saveTrainingManager">Salvar</button>
    </div>
  </div>
</div>
