<div class="modal-overlay" id="createPlanModal">
  <div class="modal-card modal-lg">
    <button class="modal-close" id="closeCreatePlan">&times;</button>

    <h2 class="modal-title">Criar Treino</h2>
    <p class="modal-subtitle">Defina o nome e selecione os exercícios</p>

    <div class="modal-field">
      <label class="modal-label">Nome do treino</label>
      <input
        type="text"
        id="trainingName"
        class="modal-input"
        placeholder="Ex: Treino Full Body A"
      />
    </div>

    <div class="modal-field bootstrap-scope">
      <label class="modal-label">Exercícios</label>
      <select
        id="exerciseSelect"
        class="selectpicker"
        multiple
        data-live-search="true"
        title="Selecione os exercícios"
      >
        <option>Agachamento</option>
        <option>Supino</option>
        <option>Levantamento Terra</option>
        <option>Puxada</option>
        <option>Desenvolvimento</option>
        <option>Rosca Direta</option>
      </select>
    </div>

    <div class="modal-actions">
      <button class="secondary-button" id="cancelCreatePlan">Cancelar</button>
            <button 
            type="button"
            class="primary-buttonn"
            id="confirmCreateTraining"
            >
            Criar Treino
            </button>

    </div>
  </div>
</div>


