<!-- ===== MODAL CRIAR PLANO ===== -->
<div class="modal-overlay" id="createPlanModal">
  <div class="modal-card">
    <button class="modal-close" id="closeCreatePlan">&times;</button>

    <h2 class="modal-title">Criar Treino</h2>

    <label class="modal-label">Exercícios</label>

    <select id="exerciseSelect" class="inputt" multiple size="6">

    <option value="Agachamento">Agachamento</option>
    <option value="Supino">Supino</option>
    <option value="Levantamento Terra">Levantamento Terra</option>
    <option value="Puxada">Puxada</option>
    <option value="Desenvolvimento">Desenvolvimento</option>
    <option value="Rosca Direta">Rosca Direta</option>

    </select>

    <button class="primary-buttonn" id="confirmCreateTraining" style="margin-top: 1.25rem; margin-left: 180px">
      Criar
    </button>
  </div>
</div>


