{% load static %}
<div class="sidebar-card">
    <h2 class="sidebar-title">Meus Alunos</h2>
    <button class="btn primary-button btn-create-plan">
        <i class="fa-solid fa-plus">

        </i>
        Criar Plano
    </button>
    <button class="btn secundary-button agenda-button">Agenda</button>
</div>

<div class="sidebar-card">
    <h2 class="sidebar-title">Atividade Recente</h2>

    <div class="activity-item">
        <div class="avatar"><img src="{% static "dashboard/images/icon-people.png" %}" alt="Ícone verde de pessoas"></div>
        <div>
            <p class="sidebar-subtitle">Ana Nunes completou treino</p>
            <p class="sidebar-small-subtitle">2 horas atrás</p>
        </div>
    </div>
    
    <div class="activity-item">
        <div class="avatar"><img src="{% static "dashboard/images/icon-arrow-up.png" %}" alt="Ícone verde com seta apontando para cima, simulando a subida de um gráfico"></div>
        <div>
            <p class="sidebar-subtitle">João Silva atingiu meta semanal</p>
            <p class="sidebar-small-subtitle">1 dia atrás</p>
        </div>
    </div>
</div>