<div class="display-trainings">
    <div class="training-card">
        <div class="name-type">
            <p class="student-name">Treino Push</p>
            <div class="badge active">Força</div>
        </div>
        <div class="exercice-students">
            <p>8 exercícios</p>
            <p>Usado por 15 alunos</p>
        </div>
    </div>

    <div class="training-card">
        <div class="name-type">
            <p class="student-name">Treino Push</p>
            <div class="badge active">Força</div>
        </div>
        <div class="exercice-students">
            <p>8 exercícios</p>
            <p>Usado por 15 alunos</p>
        </div>
    </div>

    <div class="training-card">
        <div class="name-type">
            <p class="student-name">Treino Push</p>
            <div class="badge active">Força</div>
        </div>
        <div class="exercice-students">
            <p>8 exercícios</p>
            <p>Usado por 15 alunos</p>
        </div>
    </div>
</div>