<div class="display-trainings">
  {% for treino in treinos %}
    <div class="training-card">
      <div class="name-type">
        <p class="student-name">{{ treino.nome }}</p>
        <div class="badge active">{{ treino.tipo }}</div>
      </div>

      <div class="exercice-students">
        <p>{{ treino.treinoexercicio_set.count }} exercícios</p>
        <p>Criado por você</p>
      </div>
    </div>
  {% empty %}
    <p style="opacity:0.6">Nenhum treino criado ainda</p>
  {% endfor %}
</div>
