{% load static %}
<div class="container">
    <a href="#">
        <img src="{% static "home/images/mainLogo.png" %}" alt="Logo FitBooster">
    </a>
    <div id="copyright-infos">
        <p>Todos os direitos reservados</p>
        <p>© Copyright 2025</p>
    </div>
    <div id="contacts">
        <p>Contatos</p>
        <p class="contact-item"><i class="fa-regular fa-envelope"></i>FitBooster@gmail.com</p>
        <p class="contact-item"><i class="fa-solid fa-phone"></i>84 99625-6171</p>
        <a href="#"><p class="contact-item"><i class="fa-brands fa-facebook"></i>fitboosterofc</p></a>
    </div>
</div>