{% load static %}

<div class="container" id="infos-extended-div">
    <h1>Indiscutivelmente, o melhor aplicativo de treinos!</h1>
    <img src="{% static "home/images/darkLogo.png" %}" alt="Logo da FitBooster" width="472">

    <div id="detailed-infos-container">

        <div class="info-box info-box-rigth">
            <img src="{% static "home/images/plus.png" %}" alt="Símbolo '+' na cor verde." id="plus-img">

            <div class="text-box">
                <h2>+500 Exercícios</h2>
                <p>Aprenda a executar os exercícios corretamente!</p>
                <p>Com o aplicativo FitBooster você terá acesso a ilustrações e passo a passo para realizar os exercícios corretamente e otimizar seus resultados.</p>
            </div>

            <img src="{% static "home/images/phone.png" %}" alt="Celular com tela inicial do FitBooster" class="phone-img">
        </div>

        <div class="info-box" id="info-box-3">
            <img src="{% static "home/images/phone.png" %}" alt="Celular com tela inicial do FitBooster" class="phone-img">
            
            <div class="text-box">
                <h2>Gráficos e estatísticas</h2>
                <p>Acompanhe seu desempenho e suaevolução com gráficos e estatísticasdetalhadas sobre seus treinos.</p>
                <p>Melhore seus resultados e se mantenhamotivado!</p>
            </div>

            <img src="{% static "home/images/graphic.png" %}" alt="" id="graphic-img">
        </div>
    </div>
<div/>