{% load static %}
<div id="main-infos-container">
    <div id="main-infos">
        <div class="text-box">
            <h1>Seu treino Personalizado</h1>
            <p>
                O aplicativo <span>FitBooster</span> foi desenvolvido para aprimorar seus
                treinos e trazer <span>resultados surpreendentes</span> em pouco tempo.
            </p>
        </div>
        <img src="{% static "home/images/phoneAndNotebook.png" %}" alt="Notebook e celular com o aplicativo Fitbooster rodando">
    </div>

    <div id="benefits"></div>
</div>