{% load static %}

<h1>Treine com praticidade e veja resultados de verdade!</h1>
<div class="container">
    <h2>Instale Agora</h2>

    <div id="install-app">
        <a href="">
            <img src="{% static "home/images/maleWithPhone.png" %}" alt="Homem usando o celular">
        </a>

        <div id="app-available">
            <img src="{% static "home/images/phone.png" %}" alt="Celular com tela inicial do FitBooster">

            <div id="downloads-app-container">
                <a href="#">
                    <img src="{% static "home/images/downloadAppStore.png" %}" alt="Dowload do FitBooster no App Store">
                </a>
                <a href="#">
                    <img src="{% static "home/images/downloadPlayStore.png" %}" alt="Dowload do FitBooster no Google Play">
                </a>
            </div>
        </div>
        <a href="">
            <img src="{% static "home/images/femaleWithPhone.png" %}" alt="Mulher usando o celular" id="female-phone-img">
        </a>
    </div>
</div>