* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    /*Backgrounds*/
    --primary-white-bg-text: #F6F6F6; /*Cor primária clara do background*/
    --primary-dark-bg: #101318;
    --secundary-dark-bg: #1C2126; /*Cor primária escura do background*/
    --tertiary-dark-bg: #121010; /*Cor secundária escura do background*/
    --quaternary-dark-bg: #272C35;

    --primary-green: #33FF55; /*Verde Principal*/
    --focus-button: #23FE48;
    --border-color: #363D49; /*Cor das bordas*/
    --primary-dark-text: #121010; /*Tom escuro primário dos textos*/
    --secundary-dark-text: #B3B3B3; /*Tom escuro secundário dos textos*/
    --primary-red: #EF4343; /*Vermelho Primário*/
}
#main-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#main-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(28,33,38,0.69), rgba(28,33,38,0.69)),
              url('../../../static/home/images/bgImagegym-hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-color: var(--primary-dark-bg);
  filter: blur(5.7px);
  transform: scale(1.1); /* Evita bordas visíveis após o blur */
  z-index: -1;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.563rem;
}
a {
    color: var(--primary-white-bg-text);
}
li {
    list-style: none;
    color: var(--primary-white-bg-text);
}
#main-logo-img {
    width: 364px;
}
#nav-links {
    display: flex;
    gap: 2.688rem;
}
#main-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5.313rem auto 4rem;
    width: fit-content;
    gap: 4.563rem;
}
#main-infos h1 {
    color: var(--primary-white-bg-text);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 4.25rem;
}
#main-infos p {
    color: var(--primary-white-bg-text);
    font-size: 40px;
    font-weight: 800;
}
#main-infos span {
    color: var(--primary-green);
}
#main-infos img {
    width: 765px;
}
#main-infos .text-box {
    max-width: 800px;
}
#benefits {
    margin: 0 auto 7.625rem;
}
#benefits i {
    color: var(--primary-green);
}
#benefits li {
    font-size: 36px;
    font-weight: 700;
}
#benefits ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.75rem;
}