* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    /*Backgrounds*/
    --primary-white-bg-text: #F6F6F6; /*Cor primária clara do background*/
    --primary-dark-bg: #101318;
    --secundary-dark-bg: #1C2126; /*Cor primária escura do background*/
    --tertiary-dark-bg: #121010; /*Cor secundária escura do background*/
    --quaternary-dark-bg: #272C35;

    --primary-green: #33FF55; /*Verde Principal*/
    --focus-button: #23FE48;
    --border-color: #363D49; /*Cor das bordas*/
    --primary-dark-text: #121010; /*Tom escuro primário dos textos*/
    --secundary-dark-text: #B3B3B3; /*Tom escuro secundário dos textos*/
    --primary-red: #EF4343; /*Vermelho Primário*/
}
body {
    background-color: var(--primary-white-bg-text);
}
    /*Main Section*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.563rem;
}
a {
    color: var(--primary-white-bg-text);
}
li {
    list-style: none;
    color: var(--primary-white-bg-text);
    font-size: 20px;
}
#main-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#main-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(28,33,38,0.69), rgba(28,33,38,0.69)),
              url('../../../static/home/images/bgImagegym-hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-color: var(--primary-dark-bg);
  filter: blur(5.7px);
  transform: scale(1.1); /* Evita bordas visíveis após o blur */
  z-index: -1;
}
#main-logo-img {
    width: 364px;
}
#nav-links {
    display: flex;
    gap: 2.688rem;
}
#main-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5.313rem auto 4rem;
    width: fit-content;
    gap: 4.563rem;
}
h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 4.25rem;
}
h1, h2, p {
    cursor: default;
}
#main-section h1 {
    color: var(--primary-white-bg-text);
}
#main-infos p {
    color: var(--primary-white-bg-text);
    font-size: 40px;
    font-weight: 800;
}
#main-infos span {
    color: var(--primary-green);
}
#main-infos img {
    max-width: 765px;
}
#main-infos .text-box {
    width: 800px;
}
#benefits {
    margin: 0 auto 7.625rem;
}
#benefits i {
    color: var(--primary-green);
}
#benefits li {
    font-size: 36px;
    font-weight: 700;
}
#benefits ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8.75rem;
}
    /*Main Section*/
    /*Show App Section*/
#showapp-section {
    margin-top: 1.938rem;
}
#showapp-section h1 {
    max-width: 68.813rem;
    text-align: center;
    margin: 0 auto;
}
.container {
    max-width: 107.313rem;
    margin: 3.313rem auto 0;
}
.container h1 {
    max-width: 68.813rem;
    text-align: center;
    margin: 0 auto;
}
h2 {
    font-size: 35px;
}
.container h2 {
    color: var(--primary-green);
    text-align: center;
}
#install-app {
    margin-top: 0.875rem;
    display: flex;
    justify-content: center;
    gap: 210px;
}
#install-app > img {
    margin-top: 2.063rem;
}
#install-app a {
    width: fit-content;
}
#app-available img {
    max-width: 226px;
}
#app-available {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
}
#downloads-app-container {
    display: flex;
    gap: 2.063rem;
}
    /*Show App Section*/
    /*Extended Infos Section*/
#infos-extended-div > img {
    display: block;
    margin: 3.125rem auto 0;
}
#detailed-infos-container .info-box h2 {
    color: var(--primary-dark-text);
}
.info-box {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}
.info-box p {
    font-size: 30px;
    font-weight: 400;
}
.info-box .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.688rem;
    width: 100%;
    max-width: 33rem;
}
.info-box:last-child {
    margin-bottom: 5.875rem;
}
.phone-img {
    max-width: 16.188rem;
}
#plus-img {
    max-width: 15.938rem;
    margin-right: 14.25rem;
}
.info-box-rigth {
    display: flex;
    justify-content: end;
}
#graphic-img {
    max-width: 14.25rem;
    margin-left: 10.5rem;
}
#heart-img {
    max-width: 22.75rem;
    margin-right: 10.5rem;
}
    /*Extended Infos Section*/
    /*Footer*/
footer {
    background-color: var(--primary-dark-bg);
    padding: 4.938rem 0;
}
footer .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
footer img {
    max-width: 28.625rem;
}
footer p {
    color: var(--primary-white-bg-text);
    font-size: 30px;
    font-weight: 700;
}
#copyright-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contacts {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}
.contact-item {
    font-size: 25px;
}
.contact-item i {
    margin-right: 12px;

}

/* BOTÃO HAMBÚRGUER */
#menu-btn {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

#menu-btn img {
    width: 40px;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: var(--primary-dark-bg);
    padding: 3rem 1.5rem;
    transition: 0.3s ease;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;   /* ALINHA TUDO NO CENTRO */
    justify-content: flex-start;
}

#sidebar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
#sidebar li {
    width: 100%;
}

#sidebar a {
    display: block;
    width: 100%;               /* botões ocupam toda largura */
    text-align: center;        /* texto centralizado */
    font-size: 22px;
    font-weight: 700;
}
/* OVERLAY */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 998;
}

    /*Footer*/
    /*Responsividade*/
@media(max-width: 1675px) {
    #main-infos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #main-infos .text-box {
        width: 1000px;
        text-align: center;
    }
    #main-infos .text-box h1{
        margin-bottom: 3rem;
    }
    #main-infos-container ul {
        flex-wrap: wrap;
        gap: 1rem;
    }
    #benefits {
        width: auto;
        max-width: 100%;
        margin: 0 auto 7.625rem;
    }
    #showapp-section img {
        width: 206px;
    }
    #install-app {
        gap: 100px;
    }
}
@media(max-width: 1295px) {
    .info-box .icon {
        display: none;
    }
    .info-box {
        justify-content: space-around;
    }
}
@media(max-width: 1137px) {
    #install-app {
        gap: 20px;
    }
}
@media(max-width: 1051px) {
    h1 {
        font-size: 40px;
    }
    #main-infos {
        gap: 2rem
    }
    #main-infos .text-box {
        width: 800px;
        text-align: center;
    }
    #main-infos-container .text-box p {
        font-size: 30px;
    }
    #main-infos-container li {
        font-size: 30px;
    }
    #benefits {
        width: 50.5rem;
    }
    .info-box {
        flex-direction: column;
    }
    #detailed-infos-container .info-box .text-box {
        align-items: center;
        width: 50rem;
    }
    #detailed-infos-container .info-box .text-box {
        text-align: center;
    }
    .info-box:last-child {
        flex-flow: column-reverse;
        margin-top: 5rem;
    }
}
@media(max-width: 964px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .container #contacts {
        align-items: center;
    }
    #contacts .contact-item {
        font-size: 20px;
    }
}
@media(max-width: 905px) {
    #install-app a {
        display: none;
    }
}

/* RESPONSIVO: MENU APARECE, LINKS SOMEM */
@media(max-width: 950px) {
    #menu-btn {
        display: block;
    }
    #nav-links {
        display: none;
    }
    nav {
        justify-content: start;
        gap: 11rem;
    }
    #main-infos img {
        width: 31.25rem;
    }
    #main-infos .text-box {
        width: 40.25rem;
    }
}
@media(max-width: 672px) {
    nav {
        gap: 4rem;
    }
    h1 {
        font-size: 30px;
    }
    #main-infos .text-box {
        width: 30rem;
    }
    #main-infos .text-box p {
        font-size: 25px;
    }
}
    /*Responsividade*/