* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    /*Backgrounds*/
    --primary-white-bg-text: #F6F6F6; /*Cor primária clara do background*/
    --primary-dark-bg: #101318;
    --secundary-dark-bg: #1C2126; /*Cor primária escura do background*/
    --tertiary-dark-bg: #121010; /*Cor secundária escura do background*/
    --quaternary-dark-bg: #272C35;

    --primary-green: #33FF55; /*Verde Principal*/
    --focus-button: #23FE48;
    --border-color: #363D49; /*Cor das bordas*/
    --primary-dark-text: #121010; /*Tom escuro primário dos textos*/
    --secundary-dark-text: #B3B3B3; /*Tom escuro secundário dos textos*/
    --primary-red: #EF4343; /*Vermelho Primário*/
}
#main-section {
    background-image: url('../../../static/home/images/bgImagegym-hero-1.jpg');
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.563rem;
}
a {
    color: var(--primary-white-bg-text);
}
li {
    list-style: none;
}
#main-logo-img {
    width: 364px;
}
#nav-links {
    display: flex;
    gap: 2.688rem;
}
#main-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5.313rem auto 0;
    width: fit-content;
    gap: 4.563rem;
}
#main-infos h1 {
    color: var(--primary-white-bg-text);
    font-size: 60px;
    font-weight: 900;
}
#main-infos p {
    color: var(--primary-white-bg-text);
    font-size: 40px;
    font-weight: 800;
}
#main-infos span {
    color: var(--primary-green);
}
#main-infos img {
    width: 765px;
}
#main-infos .text-box {
    max-width: 800px;
}