{% load static %}
<main class="container">
    <h1>Junte-se à nossa comunidade fitness</h1>

    <section class="cards">
    <div class="card">
        <img src="{% static "cadastro/images/girlIlustration.png" %}" alt="Aluno(a)" class="avatar"/>
        <div class="card-footer">Aluno(a)</div>
    </div>

    <div class="card">
        <img src="{% static "cadastro/images/boyIlustration.png" %}" alt="Treinador(a)" class="avatar"/>
        <div class="card-footer">Treinador(a)</div>
    </div>
    </section>
</main>