* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-white-bg-text: #F6F6F6; /*Cor primária clara do background*/
    --primary-dark-bg: #101318;
    --secundary-dark-bg: #1C2126; /*Cor primária escura do background*/
    --tertiary-dark-bg: #121010; /*Cor secundária escura do background*/
    --quaternary-dark-bg: #272C35;

    --primary-green: #33FF55; /*Verde Principal*/
    --focus-button: #23FE48;
    --border-color: #363D49; /*Cor das bordas*/
    --primary-dark-text: #121010; /*Tom escuro primário dos textos*/
    --secundary-dark-text: #B3B3B3; /*Tom escuro secundário dos textos*/
    --primary-red: #EF4343; /*Vermelho Primário*/
}
body {
  background: linear-gradient(rgba(28,33,38,0.69), rgba(28,33,38,0.69)),
              url("../images/bgImagegym-hero-3.png") no-repeat center center/cover;
  background-color: var(--primary-dark-bg);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.logo {
  width: 537px;
}