* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Poppins", sans-serif;
}

:root {
  --bg:#0f1113;
  --card:#272C35;
  --muted:#99a0a6;
  --accent:#00e676;
  --white:#ffffff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#1C2126, #121416 35%);
  color: #fff;
}

.container {  
  width: 100%;
  max-width: 420px;
  padding: 18px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

header h2 {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 10px;
}

.calendar-box {
  background: var(--card);
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header span {
  font-size: 22px;
  cursor: pointer;
}

.calendar-header h4 {
  font-size: 15px;
  font-weight: 500;
}

.calendar {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar th {
  font-size: 12px;
  padding-bottom: 5px;
  color: var(--muted);
}

.calendar td {
  padding: 6px 0;
  font-size: 14px;
  color: #fff;
}

.calendar td.active {
  background: var(--accent);
  color: #000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.history-item {
  display: flex;
  align-items: center;
  background: var(--card);
  padding: 12px;
  border-radius: 12px;
  gap: 12px;
}

.history-item img {
  width: 28px;
}

.history-item .title {
  font-size: 15px;
  font-weight: 600;
}

.history-item .desc {
  font-size: 13px;
  color: var(--muted);
}

.nav {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 60px;
  max-width: 430px;
  
  background: #33FF55;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;

  border-radius: 30px;
  border: 1px solid #1f1f1f;
}

.nav-btn {
  font-size: 28px;
  background: none;
  border: none;
  color: #777;
}

.nav-btn.ativo {
  color: #00e676;
}

